$black-gray: #3e3f3e;
$black-red: #3a2a2a;
$black-green: #144216;
$green-shine: #45d848;
$green-brand: #009f3c;
$white-dialog: #eff1e5;
.section {
    padding: 30px 90px;
}

.h2 {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.emphasis-green {
    color: $green-brand;
}

.btn {
    display: block;
    min-width: 20%;
    border-radius: 30px;
    padding: 8px 12px;
    text-align: center;
    background-color: $black-gray;
    text-decoration: none;
    color: white;
    &:hover {
        background-color: $black-green;
    }
    &:active {
        background-color: $green-shine;
        color: black !important;
    }
}

.btn.btn-p {
    background-color: $green-brand;
    &:hover {
        background-color: $black-green;
    }
    &:active {
        background-color: $green-shine;
        color: black !important;
    }
}

body {
    background: $black-gray;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(0deg, #103311, #144216, #3e3f3e); */
    .header-main {
        color: white;
        display: flex;
        justify-content: space-between;
        background: $black-gray;
        //padding: 0px 60px;
        font-family: Verdana;
        .h-degrad {
            width: 20%;
            //background-image: linear-gradient(90deg, white 0%, rgba(white, .7) 75%, rgba(0, 0, 0, 0) 100%);
            svg {
                max-height: 55px;
                max-width: 120px;
            }
        }
        .header-options {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                width: 30%;
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    main {
        .intro {
            background-size: cover;
            width: 100%;
            min-height: 350px;
            background-image: url('../imagenes/portada-x.jpg');
            .degrad {
                padding-top: 10%;
                background-image: linear-gradient(0deg, rgba($black-gray, 1) 0%, rgba($black-gray, .7) 10%, rgba($black-green, 0) 100%);
                min-height: 350px;
                .dialog {
                    width: 40%;
                    background-color: rgba($white-dialog, .7);
                    border-radius: 15px;
                    min-height: 160px;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 20px 15px;
                    h1 {
                        text-align: left;
                        font-size: 32px;
                        color: black;
                        font-weight: bold;
                        margin-bottom: 25px;
                    }
                    p {
                        color: $black-gray;
                        text-align: left;
                    }
                }
            }
        }
        .wraper {
            padding: 30px 90px;
            .title-section {
                text-align: center;
                margin-bottom: 45px;
            }
            .carousel {
                margin: auto;
                display: flex;
                justify-content: space-around;
                width: 80%;
                .item-carousel {
                    width: 30%;
                    padding: 15px 20px;
                    .poster {
                        min-height: 120px;
                        background-color: $black-red;
                        border-radius: 30px;
                        text-align: center;
                        padding: 15px 20px 20px 20px;
                        h2 {
                            font-size: 24px;
                            margin: 10px auto 20px auto;
                            font-weight: 700;
                        }
                        p {
                            width: 80%;
                            margin: 0 auto;
                            text-align: left;
                        }
                        svg {
                            width: 120px;
                        }
                    }
                }
            }
        }
        .callToAction {
            header {
                text-align: center;
                p {
                    font-size: 28px;
                    margin-bottom: 25px;
                }
            }
            .btn {
                width: 40%;
                margin: 0 auto;
                padding: 15px;
            }
        }
    }
}

footer {
    background: $white-dialog;
    padding: 20px 20px 40px 20px;
    text-align: center
}

footer a {
    border-radius: 5px;
    padding: 10px;
    font-family: Verdana;
    text-decoration: none;
    display: inline-block;
    margin: auto 5%;
    margin-bottom: 0px;
}

footer a:hover {
    background: rgba(0, 0, 0, .2);
}